<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <style>
      body {
            text-align: center;
        }
      button[type="submit"] {
      font-size: 20px;
      padding: 10px 20px;
      }

      form {
      text-align: center;
      }
      .edit-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4d88f5;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
      }   
    </style>
</head>
<body>
  <h1>Search for a TF binding site motif</h1>
  <p>Type the JASPAR ID of your chosen TF binding site motif</p>
</body>
<form action="/motifs/" method="GET">
    <input type="text" id = "query" name="query" placeholder="Type JASPAR ID...">
    <button type="submit">Search</button>
    <p></p>
    <a href="/" class="edit-button">Return home</a>
  </form>


</html>