<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Motyl</title>
    <style>
        body {
            text-align: center;
        }
        h1, p {
            text-align: center;
        }
        button {
            margin: 10px;
            font-size: 20px;
            padding: 10px 20px;
        }
        #logo {
            display: block;
            margin: 0 auto 20px;
            max-width: 70%; 
            height: auto;
        }
    </style>
</head>
<body>
    <img id= "logo" src="/static/logo.png" alt="Logo">
    <h1>Welcome to Motyl</h1>
    <p>Your web service for researching and managing TF binding site motifs</p>
    <p>Please choose an action:</p>
    <a href="/search_page"><button>Search Motif</button></a>
    <a href="/motifs"><button>View Motif Database</button></a>
    <a href="/provide_sequence"><button>Search a sequence</button></a>
</body>
</html>